# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import pandas as pd

In [4]:
import numpy as np

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [5]:
# from pyodide.http import pyfetch

# async def download(url, filename):
#     response = await pyfetch(url)
#     if response.status == 200:
#         with open(filename, "wb") as f:
#             f.write(await response.bytes())

In [6]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [7]:
# await download(file_path, "m1_survey_data.csv")
# file_name="m1_survey_data.csv"

In [8]:
import requests
def download(url, filename):
    # Gửi yêu cầu GET tới URL
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)  
filename = 'm1_survey_data_1.csv'

download(file_path, filename)

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [9]:
df = pd.read_csv(filename)

In [10]:
df.shape

(11552, 85)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [11]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [12]:
# your code goes here
# duplicates = df.duplicated()
# duplicates_df = df[duplicates]
# print(duplicates_df.shape)
num_duplicates = df.duplicated().sum()
num_duplicates

154

In [13]:
Respondent_duplicates = df['Respondent'].duplicated().sum()
Respondent_duplicates

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [14]:
# your code goes here
df_no_duplicates = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [15]:
# your code goes here
df_no_duplicates.shape

(11398, 85)

In [16]:
df_no_duplicates.duplicated().sum()

0

In [17]:
df_no_duplicates['Respondent'].shape

(11398,)

## Finding Missing values

Find the missing values for all columns.

In [18]:
# your code goes here
missing_data = df_no_duplicates.isnull()
print(missing_data.head())
for column in missing_data.columns.values.tolist():
    print (missing_data[column].value_counts())
    print("")

   Respondent  MainBranch  Hobbyist  OpenSourcer  OpenSource  Employment  \
0       False       False     False        False       False       False
1       False       False     False        False       False       False
2       False       False     False        False       False       False
3       False       False     False        False       False       False
4       False       False     False        False       False       False

   Country  Student  EdLevel  UndergradMajor  ...  WelcomeChange  \
0    False    False    False           False  ...          False
1    False    False    False           False  ...          False
2    False    False    False           False  ...          False
3    False    False    False            True  ...          False
4    False    False    False           False  ...          False

   SONewContent    Age  Gender  Trans  Sexuality  Ethnicity  Dependents  \
0         False  False   False  False      False      False       False
1          True  False   False  False      False      False       False
2         False  False   False  False      False      False       False
3         False  False   False  False      False      False       False
4         False  False   False  False      False      False       False

   SurveyLength  SurveyEase
0         False       False
1         False       False
2         False       False
3         False       False
4         False       False

[5 rows x 85 columns]
Respondent
False    11398
Name: count, dtype: int64

MainBranch
False    11398
Name: count, dtype: int64

Hobbyist
False    11398
Name: count, dtype: int64

OpenSourcer
False    11398
Name: count, dtype: int64

OpenSource
False    11317
True        81
Name: count, dtype: int64

Employment
False    11398
Name: count, dtype: int64

Country
False    11398
Name: count, dtype: int64

Student
False    11347
True        51
Name: count, dtype: int64

EdLevel
False    11286
True       112
Name: count, dtype: int64

UndergradMajor
False    10661
True       737
Name: count, dtype: int64

EduOther
False    11234
True       164
Name: count, dtype: int64

OrgSize
False    11302
True        96
Name: count, dtype: int64

DevType
False    11333
True        65
Name: count, dtype: int64

YearsCode
False    11389
True         9
Name: count, dtype: int64

Age1stCode
False    11385
True        13
Name: count, dtype: int64

YearsCodePro
False    11382
True        16
Name: count, dtype: int64

CareerSat
False    11398
Name: count, dtype: int64

JobSat
False    11397
True         1
Name: count, dtype: int64

MgrIdiot
False    10905
True       493
Name: count, dtype: int64

MgrMoney
False    10901
True       497
Name: count, dtype: int64

MgrWant
False    10905
True       493
Name: count, dtype: int64

JobSeek
False    11398
Name: count, dtype: int64

LastHireDate
False    11398
Name: count, dtype: int64

LastInt
False    10985
True       413
Name: count, dtype: int64

FizzBuzz
False    11361
True        37
Name: count, dtype: int64

JobFactors
False    11395
True         3
Name: count, dtype: int64

ResumeUpdate
False    11359
True        39
Name: count, dtype: int64

CurrencySymbol
False    11398
Name: count, dtype: int64

CurrencyDesc
False    11398
Name: count, dtype: int64

CompTotal
False    10589
True       809
Name: count, dtype: int64

CompFreq
False    11192
True       206
Name: count, dtype: int64

ConvertedComp
False    10582
True       816
Name: count, dtype: int64

WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64

WorkPlan
False    11277
True       121
Name: count, dtype: int64

WorkChallenge
False    11234
True       164
Name: count, dtype: int64

WorkRemote
False    11390
True         8
Name: count, dtype: int64

WorkLoc
False    11366
True        32
Name: count, dtype: int64

ImpSyn
False    11393
True         5
Name: count, dtype: int64

CodeRev
False    11397
True         1
Name: count, dtype: int64

CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64

UnitTests
False    11369
True        29
Name: count, dtype: int64

PurchaseHow
False    11202
True       196
Name: count, dtype: int64

PurchaseWhat
False    11360
True        38
Name: count, dtype: int64

LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64

LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64

DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64

DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64

PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64

PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64

WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64

WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64

MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64

MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64

DevEnviron
False    11369
True        29
Name: count, dtype: int64

OpSys
False    11364
True        34
Name: count, dtype: int64

Containers
False    11316
True        82
Name: count, dtype: int64

BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64

BlockchainIs
False    8788
True     2610
Name: count, dtype: int64

BetterLife
False    11300
True        98
Name: count, dtype: int64

ITperson
False    11363
True        35
Name: count, dtype: int64

OffOn
False    11360
True        38
Name: count, dtype: int64

SocialMedia
False    11105
True       293
Name: count, dtype: int64

Extraversion
False    11378
True        20
Name: count, dtype: int64

ScreenName
False    10891
True       507
Name: count, dtype: int64

SOVisit1st
False    11073
True       325
Name: count, dtype: int64

SOVisitFreq
False    11393
True         5
Name: count, dtype: int64

SOVisitTo
False    11397
True         1
Name: count, dtype: int64

SOFindAnswer
False    11395
True         3
Name: count, dtype: int64

SOTimeSaved
False    11348
True        50
Name: count, dtype: int64

SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64

SOAccount
False    11397
True         1
Name: count, dtype: int64

SOPartFreq
False    10270
True      1128
Name: count, dtype: int64

SOJobs
False    11392
True         6
Name: count, dtype: int64

EntTeams
False    11393
True         5
Name: count, dtype: int64

SOComm
False    11398
Name: count, dtype: int64

WelcomeChange
False    11313
True        85
Name: count, dtype: int64

SONewContent
False    9433
True     1965
Name: count, dtype: int64

Age
False    11111
True       287
Name: count, dtype: int64

Gender
False    11325
True        73
Name: count, dtype: int64

Trans
False    11275
True       123
Name: count, dtype: int64

Sexuality
False    10856
True       542
Name: count, dtype: int64

Ethnicity
False    10723
True       675
Name: count, dtype: int64

Dependents
False    11258
True       140
Name: count, dtype: int64

SurveyLength
False    11379
True        19
Name: count, dtype: int64

SurveyEase
False    11384
True        14
Name: count, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [19]:
# your code goes here
# print(missing_data['WorkLoc'].value_counts())
df_no_duplicates['WorkLoc'].isnull().sum()

32

In [20]:
df_no_duplicates['Country'].isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [21]:
# your code goes here
df_no_duplicates['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [22]:
mode_name = df_no_duplicates['WorkLoc'].mode()
mode_name[0]

'Office'

In [23]:
#make a note of the majority value here, for future reference
mode_name = df_no_duplicates['WorkLoc'].mode()
count_name = df_no_duplicates['WorkLoc'].value_counts()[mode_name]  # Đếm số lần xuất hiện của mode
mode_name[0]
count_name

WorkLoc
Office    6806
Name: count, dtype: int64

In [24]:
mode_name[0]

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [25]:
# your code goes here
df_no_duplicates['WorkLoc'].fillna(mode_name[0], inplace=True)

C:\Users\ktcop\AppData\Local\Temp\ipykernel_20004\2072769895.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_no_duplicates['WorkLoc'].fillna(mode_name[0], inplace=True)
C:\Users\ktcop\AppData\Local\Temp\ipykernel_20004\2072769895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates['WorkLoc'].fillna(mode_name[0], inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

In [26]:
df_no_duplicates['WorkLoc'].isnull().sum()

0

In [27]:
mode_name = df_no_duplicates['WorkLoc'].mode()
count_name = df_no_duplicates['WorkLoc'].value_counts()[mode_name]  # Đếm số lần xuất hiện của mode
mode_name[0]
count_name

WorkLoc
Office    6838
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [28]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [29]:
df_no_duplicates['CompFreq'].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [30]:
# your code goes here
def normalize_annual_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  
# Apply the function to create the new column
df_no_duplicates['NormalizedAnnualCompensation'] = df_no_duplicates.apply(normalize_annual_compensation, axis=1)
# Display the updated DataFrame
print("DataFrame with Normalized Annual Compensation:")
print(df_no_duplicates)

DataFrame with Normalized Annual Compensation:
       Respondent                      MainBranch Hobbyist  \
0               4  I am a developer by profession       No
1               9  I am a developer by profession      Yes
2              13  I am a developer by profession      Yes
3              16  I am a developer by profession      Yes
4              17  I am a developer by profession      Yes
...           ...                             ...      ...
11547       25136  I am a developer by profession      Yes
11548       25137  I am a developer by profession      Yes
11549       25138  I am a developer by profession      Yes
11550       25141  I am a developer by profession      Yes
11551       25142  I am a developer by profession      Yes

                                             OpenSourcer  \
0                                                  Never
1                             Once a month or more often
2      Less than once a month but more than once per ...
3                                                  Never
4      Less than once a month but more than once per ...
...                                                  ...
11547                                              Never
11548                                              Never
11549                            Less than once per year
11550  Less than once a month but more than once per ...
11551  Less than once a month but more than once per ...

                                              OpenSource          Employment  \
0      The quality of OSS and closed source software ...  Employed full-time
1      The quality of OSS and closed source software ...  Employed full-time
2      OSS is, on average, of HIGHER quality than pro...  Employed full-time
3      The quality of OSS and closed source software ...  Employed full-time
4      The quality of OSS and closed source software ...  Employed full-time
...                                                  ...                 ...
11547  OSS is, on average, of HIGHER quality than pro...  Employed full-time
11548  The quality of OSS and closed source software ...  Employed full-time
11549  The quality of OSS and closed source software ...  Employed full-time
11550  OSS is, on average, of LOWER quality than prop...  Employed full-time
11551  OSS is, on average, of HIGHER quality than pro...  Employed full-time

              Country Student  \
0       United States      No
1         New Zealand      No
2       United States      No
3      United Kingdom      No
4           Australia      No
...               ...     ...
11547   United States      No
11548          Poland      No
11549   United States      No
11550     Switzerland      No
11551  United Kingdom      No

                                                 EdLevel  \
0               Bachelor’s degree (BA, BS, B.Eng., etc.)
1      Some college/university study without earning ...
2            Master’s degree (MA, MS, M.Eng., MBA, etc.)
3            Master’s degree (MA, MS, M.Eng., MBA, etc.)
4               Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                  ...
11547        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11548        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11549        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11550  Secondary school (e.g. American high school, G...
11551          Other doctoral degree (Ph.D, Ed.D., etc.)

                                          UndergradMajor  ...  \
0      Computer science, computer engineering, or sof...  ...
1      Computer science, computer engineering, or sof...  ...
2      Computer science, computer engineering, or sof...  ...
3                                                    NaN  ...
4      Computer science, computer engineering, or sof...  ...
...                                                  ...  ...
11547  Computer science, computer engineering, or sof...  ...
11548  Computer science, computer engineering, or sof...  ...
11549  Computer science, computer engineering, or sof...  ...
11550                                                NaN  ...
11551  A natural science (ex. biology, chemistry, phy...  ...

                                            SONewContent   Age Gender Trans  \
0      Tech articles written by other developers;Indu...  22.0    Man    No
1                                                    NaN  23.0    Man    No
2      Tech articles written by other developers;Cour...  28.0    Man    No
3      Tech articles written by other developers;Indu...  26.0    Man    No
4      Tech articles written by other developers;Indu...  29.0    Man    No
...                                                  ...   ...    ...   ...
11547  Tech articles written by other developers;Cour...  36.0    Man    No
11548  Tech articles written by other developers;Tech...  25.0    Man    No
11549  Tech articles written by other developers;Indu...  34.0    Man    No
11550                                                NaN  25.0    Man    No
11551  Tech articles written by other developers;Tech...  30.0    Man    No

                     Sexuality                              Ethnicity  \
0      Straight / Heterosexual           White or of European descent
1                     Bisexual           White or of European descent
2      Straight / Heterosexual           White or of European descent
3      Straight / Heterosexual           White or of European descent
4      Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial
...                        ...                                    ...
11547  Straight / Heterosexual           White or of European descent
11548  Straight / Heterosexual           White or of European descent
11549  Straight / Heterosexual           White or of European descent
11550  Straight / Heterosexual           White or of European descent
11551                 Bisexual           White or of European descent

      Dependents           SurveyLength                  SurveyEase  \
0             No  Appropriate in length                        Easy
1             No  Appropriate in length  Neither easy nor difficult
2            Yes  Appropriate in length                        Easy
3             No  Appropriate in length  Neither easy nor difficult
4             No  Appropriate in length                        Easy
...          ...                    ...                         ...
11547         No  Appropriate in length                   Difficult
11548         No  Appropriate in length  Neither easy nor difficult
11549        Yes               Too long                        Easy
11550         No  Appropriate in length                        Easy
11551         No  Appropriate in length                        Easy

      NormalizedAnnualCompensation
0                          61000.0
1                         138000.0
2                          90000.0
3                         348000.0
4                          90000.0
...                            ...
11547                     130000.0
11548                      74400.0
11549                     105000.0
11550                      80000.0
11551                          NaN

[11398 rows x 86 columns]

C:\Users\ktcop\AppData\Local\Temp\ipykernel_20004\4055865239.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates['NormalizedAnnualCompensation'] = df_no_duplicates.apply(normalize_annual_compensation, axis=1)

In [31]:
# # Tạo một dictionary để ánh xạ giá trị
# compensation_mapping = {
#     'Yearly': 1,
#     'Monthly': 12,
#     'Weekly': 52
# }
# df['CompFreqFactor'] = df['CompFreq'].replace(compensation_mapping)
# df['NormalizedAnnualCompensation'] = df['CompTotal'] * df['CompFreqFactor']
# print(df)